@using GenericCourses.Application.Features.Blog;
@using GenericCourses.Domain.Dtos.Pages;

@model PaginatedList<PostDTO>

  @{
  ViewData["Title"] = "Blog";
  }

  <main class="py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl">Blog</h2>

        <p class="mx-auto max-w-screen-md text-center text-gray-300 md:text-lg">This is a section of some simple filler
          text, also known as placeholder text. It shares some characteristics of a real written text but is random or
          otherwise generated.</p>
      </div>
      <!-- text - end -->

      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
        <!-- article - start -->
        @foreach(var item in Model){
        <div class="flex flex-col overflow-hidden rounded-lg border-none bg-gray-800">
          <a href="~/Blog/Post/@item.postId" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
            <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600"
              loading="lazy" alt="Photo by Minh Pham"
              class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </a>

          <div class="flex flex-1 flex-col p-4 sm:p-6">
            <h2 class="mb-2 text-lg font-semibold text-sky-500">
              <a href="~/Blog/Post/@item.postId"
                class="transition duration-100 hover:text-indigo-500 active:text-indigo-600">@item.title</a>
            </h2>

            <div class="mt-auto flex items-end justify-between">
              <div class="flex items-center gap-2">
                <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full bg-gray-100">
                  <img src="https://images.unsplash.com/photo-1611898872015-0571a9e38375?auto=format&q=75&fit=crop&w=64"
                    loading="lazy" alt="Photo by Brock Wegner" class="h-full w-full object-cover object-center" />
                </div>
                <div>
                  <span class="block text-sky-700">@item.author</span>
                  <span class="block text-sm text-gray-400">@item.date</span>
                </div>
              </div>
              <span
                class="bg-sky-100 text-sky-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">@item.category</span>
            </div>
          </div>
        </div>
        }
        <!-- article - end -->
      </div>
    </div>
    <div class="mt-8">
    </div>
  </main>
