@{
Layout = "../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Novo Curso";
@model string[]
}

<form x-data="page" method="post" class="flex card  flex-col gap-4 w-full max-w-[800px] p-2 rounded-md bg-base-200/50">
	<div class="card-body w-full bg-base-200/50 rounded-md">

		<h1 class="text-3xl font-bold text-white">Novo Curso</h1>

		<div class="flex flex-col gap-2">

			<label class="form-control w-full ">
				<div class="label">
					<span class="label-text">Titulo do Curso</span>
				</div>
				<input type="text" class="input input-bordered w-full" />
				<div class="label">
					<!-- <span class="label-text-alt">Bottom Left label</span> -->
				</div>
			</label>

			<div x-data="{ thumb: 'true' }">
				<label for="">Imagem:</label>
				<div class="flex flex-row w-full justify-between mt-4">
					<div class="form-control w-1/2">
						<div class="flex flex-row gap-2 items-center cursor-pointer">
							<input type="radio" name="radio-10" class="radio checked:bg-red-500" checked="checked"
								x-model="thumb" value="true" />
							<span class="label-text">Url da imagem</span>
						</div>
					</div>
					<div class="form-control">
						<div class="flex flex-row gap-2 items-center cursor-pointer">
							<input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked="checked"
								x-model="thumb" value="false" />
							<span class="label-text">Upload</span>
						</div>
					</div>
				</div>

				<div class="flex items-center justify-center w-full mt-4" :class="{'hidden': (thumb=='true')}">
					<label for="dropzone-file"
						class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
						<div class="flex flex-col items-center justify-center pt-5 pb-6">
							<svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
									stroke-width="2"
									d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
							</svg>
							<p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
									to
									upload</span> or drag and drop</p>
							<p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)
							</p>
						</div>
						<input id="dropzone-file" type="file" class="hidden" />
					</label>
				</div>


				<label class="form-control w-full mt-4" :class="{'hidden': (thumb=='false')}">
					<input type="text" class="input input-bordered w-full" />
					<div class="label">
						<!-- <span class="label-text-alt">Bottom Left label</span> -->
					</div>
				</label>

			</div>

			<label class="form-control">
				<div class="label">
					<span class="label-text">Descrição</span>
				</div>
				<textarea id="editor" class="textarea textarea-bordered h-56 resize-none" placeholder="Bio"></textarea>
				<div class="label">
					<!-- <span class="label-text-alt">Alt label</span> -->
				</div>
			</label>

			<label for="" class="flex items-center gap-4"> É gratuito
				<input type="checkbox" name="" value="" class="checkbox">
			</label>
		</div>

		<button type="submit"
			class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded max-w-xs">Cadastrar</button>
	</div>
</form>


@section Scripts{
	
	<script defer>
		document.addEventListener('alpine:init', () => {
			Alpine.data('page', () => ({
				init(){
					const easymde = new EasyMDE({
						element: document.getElementById('editor'),
					});
				}
			}))
		})
	</script>
}

