@{
Layout = "../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Novo artigo";
@model string[]
}
<!---
- Titulo x 
- Texto  x
- Categorias
- Thumb 
-->

<form method="post" class="p-4 h-auto w-full max-w-[1400px]" x-data="{select:false, selectedOptions:[],editor:'true'}">
	<div class="flex justify-between">
		<h1 class="text-white font-bold text-2xl">
    Novo Artigo</h1>
    <button type=" submit"
			class="text-white bg-gradient-to-r from-emerald-400 via-emerald-500 w-32 to-emerald-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 shadow-lg shadow-green-500/50 dark:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
			Enviar
			</button>
	</div>
	<div class=" grid grid-cols-1 sm:grid-cols-2 mt-5 lg:grid-cols-4 gap-4 mb-4 py-2">
		<div class=" flex justify-center flex-col gap-8 px-4  col-span-2 rounded-lg  h-auto py-8">
			<div class="w-full">
				<label for="Titulo:" class="block mb-2 text-sm font-medium text-white">Titulo:</label>
				<input type="text"
					class="bg-gray-50 border border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
					required>
			</div>

			<div class="w-full">
				<h3 class="mb-4 font-semibold text-white">Markdown</h3>
				<ul
					class="items-center w-full text-sm font-medium text-black-900 bg-white border border-gray-200 rounded-lg sm:flex">
					<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
						<div class="flex items-center ps-3">
							<input id="horizontal-list-radio-license" type="radio" value="true" x-model="editor"
								name="list-radio"
								class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2">
							<label for="horizontal-list-radio-license"
								class="w-full py-3 ms-2 text-sm font-medium text-black-300">Editor Online</label>
						</div>
					</li>
					<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r ">
						<div class="flex items-center ps-3">
							<input id="horizontal-list-radio-id" type="radio" value="false" x-model="editor"
								name="list-radio"
								class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
							<label for="horizontal-list-radio-id"
								class="w-full py-3 ms-2 text-sm font-medium text-black-300">Enviar
								Arquivo</label>
						</div>
					</li>
				</ul>
			</div>

			<div class="grid grid-cols-2 md:grid-cols-2 gap-2 w-full ">
				<div class="">
					<button id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch"
						class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-sky-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
						type="button">Categorias <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 1 4 4 4-4" />
						</svg></button>

					<!-- Dropdown menu -->
					<div id="dropdownSearch"
						class=" hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700 z-50 h-64 overflow-y-auto">
					</div>

				</div>

				<div class="flex gap-2 flex-wrap ">
					<template x-for="item in selectedOptions">
						<span
							class="bg-blue-100 max-h-6 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
							x-text="item"></span>
					</template>
				</div>
			</div>
		</div>

		<div x-data="{img:'false'}" class="flex justify-center flex-col gap-8 px-4  col-span-2 rounded-lg  h-auto py-8">
			<div class="w-full">
				<h3 class="mb-4 font-semibold text-white">Thumb</h3>
				<ul
					class="items-center w-full text-sm font-medium text-black-900 bg-white border border-gray-200 rounded-lg sm:flex">
					<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
						<div class="flex items-center ps-3">
							<input id="horizontal-list-radio-img" type="radio" value="true" x-model="img"
								name="list-radio-img"
								class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
							<label for="horizontal-list-radio-img"
								class="w-full py-3 ms-2 text-sm font-medium text-black-300">Url da
								Imagem</label>
						</div>
					</li>
					<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
						<div class="flex items-center ps-3">
							<input id="horizontal-list-radio-img" type="radio" value="false" x-model="img"
								name="list-radio-img"
								class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
							<label for="horizontal-list-radio-img"
								class="w-full py-3 ms-2 text-sm font-medium text-black">Upload
								do
								arquivo</label>
						</div>
					</li>
				</ul>
			</div>

			<div class="flex center w-full hidden" :class="{'hidden': (img=='true')}">
				<label for="dropzone-file"
					class="flex flex-col center w-full h-full border-2 border-dashed rounded-lg cursor-pointer hover:bg-bray-800 bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
					<div class="flex flex-col items-center justify-center pt-5 pb-6">
						<svg class="w-8 h-8 mb-4 text-black-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
							fill="none" viewBox="0 0 20 16">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
						</svg>
						<p class="mb-2 text-sm text-gray-200"><span class="font-semibold">Click to
								upload</span>
							or
							drag and drop</p>
						<p class="text-xs text-gray-200">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
					</div>
					<input id="dropzone-file" type="file" class="hidden" />
				</label>
			</div>
			<div class="w-full hidden" :class="{'hidden':(img=='false')}">
				<label for="Titulo:" class="block mb-2 text-sm font-medium text-white">Url da Imagem:</label>
				<input type="text"
					class="border text-sm rounded-lg block w-full p-2.5 placeholder-gray-400 text-black focus:ring-blue-500 focus:border-blue-500"
					required>
			</div>
		</div>
	</div>

	<div id="txtEditor" class="h-[80vh] mb-4 z-0" :class="(editor=='true')?'':'hidden'">
		<textarea class="textarea w-full h-full">### Hello Editor.md !</textarea>
	</div>

	<div class="flex center w-full hidden" :class="{'hidden': (editor=='true')}">
		<label for="dropzone-file"
			class="flex flex-col center  w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
			<div class="flex flex-col items-center justify-center pt-5 pb-6">
				<svg class="w-8 h-8 mb-4 text-black-500 dark:text-gray-400" aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
				</svg>
				<p class="mb-2 text-sm text-black-500 dark:text-gray-400"><span class="font-semibold">Click to
						upload</span> or
					drag and drop</p>
				<p class="text-xs text-black-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
			</div>
			<input id="dropzone-file" type="file" class="hidden" />
		</label>
	</div>

</form>
