@{
ViewData["Title"] = "Ver curso";
}

<main class="flex flex-col md:flex-row gap-2  center py-8 w-full">
	<section class="grid grid-cols-1 md:grid-cols-3 max-w-[6000px] w-[90%] px-4 gap-3">

		<div class="w-full max-h-[700px] px-3 flex flex-col gap-2 ">

			<h1 class="font-bold text-sky-500 text-4xl">Nome do Curso</h1>
			<h3 class="text-xl text-gray-200 font-bold">Modulos</h3>
			<div class="overflow-y-auto max-h-96">
				<div id="accordion-flush" class="max-w-full" data-accordion="collapse"
					data-active-classes="text-sky-300" data-inactive-classes="text-gray-400">
					@for(int a=1 ;a<=3;a++){ <h2 id="accordion-flush-heading-@a">
						<button type="button"
							class="flex items-center justify-between w-full py-5 font-medium rtl:text-right  border-b border-gray-700 text-gray-400 gap-3"
							data-accordion-target="#accordion-flush-body-@a" aria-expanded="true"
							aria-controls="accordion-flush-body-@a">
							<span>Modulo @a</span>
							<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
									stroke-width="2" d="M9 5 5 1 1 5" />
							</svg>
						</button>
						</h2>
						<div id="accordion-flush-body-@a" class="hidden" aria-labelledby="accordion-flush-heading-@a">
							<div class="w-48 text-sm font-medium  rounded-lg w-full  text-gray-300 px-4 py-3">
								@for(int i=1; i<= (3*a) ;i++){ <a href="#"
									class="block w-full px-4 py-2 text-white  rounded-lg cursor-pointer hover:bg-sky-600 ">
									@i - Aula
									</a>
									}
							</div>
						</div>
						}
				</div>

			</div>

		</div>

		<div class="h-auto w-full col-span-2 flex flex-col center gap-4">
			<!-- <div class="plyr__video-embed" id="player"> -->
			<iframe class="w-full h-[70vh]"
				    src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
				allowfullscreen allowtransparency allow="autoplay"></iframe>
			<!-- </div> -->
			<h3 class="w-full text-left text-gray-200 font-bold text-2xl">Descrição:</h3>
			<div class="w-full flex">
				<article class="markdown-body " style="margin: 0 !important;">
					<!-- Html.Raw(WatchCourseModel.markdown) -->
				</article>

			</div>
		</div>
	</section>
</main>
