@{
Layout = "../Shared/_LoginLayout.cshtml";
ViewData["Title"] = "Register";
}

<form asp-method="RegisterPost" method="post" class="lg:w-2/5 w-full flex flex-col py-12 h-full px-14 justify-center o">
	@Html.AntiForgeryToken()
	<a href="index" class="font-semibold text-sky-500 text-2xl">Generic Courses</a>
	<h1 class="text-white text-4xl font-black">Seja bem vindo</h1>
	<p class="text-gray-300 mt-5">
		Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint.
	</p>
	<div class="flex flex-col md: grid grid-cols-2 gap-2 mt-6">

		<div class="col-span-2">
			<label for="first_name" class="block mb-2 text-sm font-medium text-white">Nome:</label>

			<input name="name" type="text"
				class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
				required>
				@await Html.PartialAsync("../Shared/Components/_Error_Label", "name")
		</div>

		<div class="col-span-2">
			<label class="block mb-2 text-sm font-medium text-white">Email:</label>
			<input name='email' type="email"
				class="border  text-sm rounded-lg block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
				required>
				@await Html.PartialAsync("../Shared/Components/_Error_Label", "email")
		</div>

		<div>
			<label class="block mb-2 text-sm font-medium text-white">Numero de celular:</label>
			<input name="phone" type="number"
				class="border  text-sm rounded-lg block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
			@await Html.PartialAsync("../Shared/Components/_Error_Label", "phone")
		</div>

		<div>
			<label class="block mb-2 text-sm font-medium text-white">CPF:</label>
			<input name="cpf" type="number"
				class="border  text-sm rounded-lg block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
				required>
			@await Html.PartialAsync("../Shared/Components/_Error_Label", "cpf")
		</div>

		<div class="col-span-2">
			<label class="block mb-2 text-sm font-medium text-white">Senha:</label>
			<input name="password" type="password"
				class="border text-sm rounded-lg block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
				required>
				@await Html.PartialAsync("../Shared/Components/_Error_Label", "password")
		</div>

		<div class="col-span-2">
			<label class="block mb-2 text-sm font-medium text-white">Confirmar Senha:</label>
			<input name="confirmPassword" type="password"
				class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
				required>
				@await Html.PartialAsync("../Shared/Components/_Error_Label", "confirmPassword")
		</div>

	</div>
	<button type="submit"
		class="text-white mt-4 text-lg w-full bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-semibold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Confirmar</button>
	<div class="text-gray-300 mt-3">
		Já tem uma conta? <a href="Login" class="text-sky-500 font-bold italic">Login</a>
	</div>
</form>
