@page
@model AdminAccountModel
@{
Layout = "./../../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Conta";
}
<main class="p-4 md:ml-64 h-auto pt-20 flex flex-col center gap-4">
    <h1 class="text-white font-bold text-2xl text-left w-full max-w-[1400px]">Seja bem vindo de volta,
        <i class="text-sky-500 ">@AdminAccountModel.person.name</i>
    </h1>
    <section class="flex flex-col md:flex-row w-full gap-4 min-h-96 h-auto max-w-[1400px]">
        <div class="flex flex-col md:w-96 bg-gray-800 rounded-lg center gap-4 h-96">
            <img class="h-44 w-44 rounded-full" src="@AdminAccountModel.person.imgUrl" alt="Rounded avatar">
            <div class="text-center flex center flex-col">
                <h3 class="text-gray-100 font-bold text-xl">@AdminAccountModel.person.name</h3>
                <span class="text-gray-300 text-lg font-semibold">Administrador</span>
            </div>
            <div>
                <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    aria-describedby="file_input_help" id="file_input" type="file" placeholder="Trocar foto de perfil">
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300 w-full text-center" id="file_input_help">PNG OU
                    JPG (MAX.
                    800x400px).</p>
            </div>
        </div>
        <div class="flex flex-col gap-3 w-full bg-gray-800 rounded-lg md:h-auto">
            <div class="mb-4 border-b border-gray-200 h-auto">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
                    data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2" role="presentation">
                        <button class="flex center gap-2 p-4 border-b-2 rounded-t-lg" id="profile-tab"
                            data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                            aria-selected="false">
                            <i class="bi bi-person-circle text-lg"></i>
                            Informações</button>
                    </li>

                    <li class="me-2" role="presentation">
                        <button
                            class="flex center gap-2 p-4 border-b-2 rounded-t-lg hover:border-gray-300 hover:text-gray-300"
                            id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                            aria-controls="dashboard" aria-selected="false">
                            <i class="bi bi-gear-fill text-lg"></i>
                            Editar </button>
                    </li>
                </ul>
            </div>
            <div id="default-tab-content h-full">
                <div class="hidden flex gap-5 flex-col p-4 rounded-lg" id="profile" role="tabpanel" 'aria-labelledby="profile-tab">
            
            <div class="grid grid-cols-2 md:grid-cols-4 content-center justify-items-center gap-2 md:gap-4 h-full md:h-32  w-full">
              @for(int i =0;i<4;i++){
              <div class="h-32 w-full rounded-xl bg-cyan-600 flex flex-col center px-3">
                  <span class="text-4xl font-black">90</span>
                  <div>
                    Alguma coisa
                  </div>
              </div>  
            }
            </div>
            
            <h4 class="text-gray-200 font-semibold text-lg">Ultimos Cursos</h4>
            <div class="grid grid-cols-2 gap-6">
                @for(int i=0;i<4 ;i++){
          <a href="#" class="group relative flex  flex-col overflow-hidden rounded-lg bg-gray-100 shadow-lg h-44 ">
        <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?auto=format&q=75&fit=crop&w=600" loading="lazy" alt="Photo by Lorenzo Herrera" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 to-transparent md:via-transparent"></div>

        <div class="relative mt-auto p-4">
          <span class="block text-sm text-gray-200">April 07, 2021</span>
          <h2 class="mb-2 text-xl font-semibold text-white transition duration-100">Working with legacy stacks</h2>

          <span class="font-semibold text-indigo-300">Read more</span>
        </div>
      </a>
                }
            </div>
            

            <h4 class="text-gray-200 font-semibold text-lg">Ultimos Artigos postados</h4>

            <div class=" overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs uppercase  text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Titulo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Data de criação
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i=0;i<5;i++){
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Java para cães.
                        </th>
                        <td class="px-6 py-4">
                            30/02/-2024
                        </td>
        
                        <td class="px-6 py-4 text-right flex justify-center gap-4">
                            <a href="../../Blog/Post/jdjdjdj" class="font-medium text-sky-400 text-lg hover:underline" title="Ver Artigo"><i class="bi bi-file-text-fill"></i></a>
                            <a href="#" class="font-medium text-sky-400 text-lg hover:underline" title="Editar"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        </div>
        <div class="hidden p-4 rounded-lg h-full w-full" id="dashboard" role="tabpanel"
          aria-labelledby="dashboard-tab">
          <form class="grid grid-cols-1 md:grid-cols-2 gap-3 w-full">
            <h3 class="col-span-2 text-left text-gray-200 text-xl font-bold">Editar Informações</h3> 
            <div>
             <label for="Nome:" class="block mb-2 text-sm font-medium text-white">Nome:</label>
              <input type="Nome"
                class="border text-sm rounded-lg  block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                required>
            </div>
            <div>
             <label for="Nome:" class="block mb-2 text-sm font-medium text-white">Email:</label>
              <input type="email"
                class="border text-sm rounded-lg  block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                required>
            </div>
            <div>
             <label for="Nome:" class="block mb-2 text-sm font-medium text-white">CPF:</label>
              <input type="number"
                class="border text-sm rounded-lg  block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                required>
            </div>
            <div>
             <label for="Nome:" class="block mb-2 text-sm font-medium text-white">Numero:</label>
              <input type="number"
                class="border text-sm rounded-lg  block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                required>
            </div>
            
            <div>
              <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Linkedin:</label>
              <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex center ps-3.5 pointer-events-none">
                  <i class="bi bi-linkedin w-5 h-7 text-lg text-gray-400"></i>
                </div>
                <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
              </div>
            </div>

            <div>
              <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Github:</label>
              <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex center ps-3.5 pointer-events-none">
                  <i class="bi bi-github w-5 h-7 text-lg text-gray-400"></i>
                </div>
                <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
              </div>
            </div>
            <div class="flex flex-row justify-end gap-4 col-span-2 ">
              <button type="submit" class="text-white bg-gradient-to-r from-emerald-400 via-emerald-500  to-emerald-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 shadow-lg shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Confirmar</button>
              <a type="submit" class="text-white bg-gradient-to-r from-sky-400 via-sky-500  to-sky-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 shadow-lg shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Editar</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>

</main>
