@page "modulos/{id}/Videos/novo"
@model AdminModulesVideosModel
@{
Layout = "./../../../../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Video";
}

<main class=" md:ml-64 h-auto pt-10">
  <h1 class="text-white text-4xl font-bold">Oliver</h1>
</main>
