@page "/admin/Courses/Modules/{id}/Videos/New"
@model AdminModulesVideosModel
@{
Layout = "./../../../../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Video";
}

<main class="p-4 md:ml-64 h-auto pt-20 flex center"></main>
