@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-gray-300
}

::selection {
  background-color: #2af !important;
}

.center {
  @apply justify-center items-center
}

section {
  max-width: 1800px;
  max-height: 1700px;
}

.gradient-background {
  background: rgb(30, 111, 240);
  background: -moz-linear-gradient(180deg, rgba(30, 111, 240, 1) 0%, rgba(31, 41, 55, 1) 64%);
  background: -webkit-linear-gradient(180deg, rgba(30, 111, 240, 1) 0%, rgba(31, 41, 55, 1) 64%);
  background: linear-gradient(180deg, rgba(30, 111, 240, 1) 0%, rgba(31, 41, 55, 1) 64%);
}
